* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hd {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    margin: 0;
    color: #333;
}

h1 span {
    color: #0074D9;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #333;
}

.lifestyle {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

article {
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: #333;
}

p {
    color: #666;
}

.me {
    margin-top: 20px;
    padding-left: 150px;
    display: flex;
    flex-direction: column;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(31, 245, 31);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    background-color: burlywood;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
}
footer a {
    margin: 0 10px;
}
